:root {
    --primary-brand: #4D5AE5;
    --dark: #2E2F42;
    --success: #31D0AA;
    --text: #434455;
    --subtle-text: #8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text);
}

/* header-logo */

.logo-top {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.web-top {
    color: var(--primary-brand);
}

.studio-top {
    color: var(--dark);
}

.web-top:hover, 
.web-top:focus {
    color: var(--text);
}

.studio-top:hover,
.studio-top:focus {
    color: var(--text);
}

.web-top:active, 
.studio-top:active {
    color: var(--primary-brand);
}

/* heder-navigation */

.navigation {
    list-style-type: none; 
}

.list-navigation {
    color: var(--dark);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.list-navigation:hover, 
.list-navigation:focus {
    color: var(--text);
}

.list-navigation:active {
    color: var(--primary-brand);
}

/* heder-contacts */

.contacts {
    list-style-type: none;
}
.list-contacts {
    color: var(--text);
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.list-contacts:hover,
.list-contacts:focus {
    color: var(--primary-brand);
}

/* section-button */

.button {
    background-color: var(--dark);
    width: 1440px;
    height: 675px;
    left: 0px;
    top: 0px;
}

.solutions {
    padding-top: 264px;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.contained {
    padding: 16px 32px;
    gap: 10px;
    width: 170px;
    height: 51px;
    left: 635px;
    top: 432px;
    background: var(--primary-brand);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}

.contained:hover,
.contained:focus {
    background: var(--primary-brand);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 4px;
}

.contained:active{
    background: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}


/* section-advanteges */

.invisible {
    font-size: 0;
}

.list-title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
}

.list-advanteges {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
}

/* section-our-work and team*/

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark)
}

.list-images{
    list-style-type: none;
}
.list-team{
  list-style-type: none;  
}

.list-names {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark);
}

.list-jobs{
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text)
}

/* footer */

.bottom{
    width: 1440px;
    height: 310px;
    left: 0px;
    top: 2283px;
    background: var(--dark);
}

.logo-bottom {
    font-family: 'Raleway';
    font-style: normal;
    font-size: 18px;
    line-height: 1.33;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.web-bottom {
    color: var(--primary-brand);
}

.stidio-botton {
    color: var(--light);
}

.web-bottom:hover, 
.web-bottom:focus {
    color: var(--text);
}

.stidio-botton:hover,
.stidio-botton:focus {
    color: var(--text);
}

.web-bottom:active, 
.stidio-botton:active {
    color: var(--primary-brand);
}

.reason{
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent)
}

/* portfolio: section button*/

.list-btn{
    list-style-type: none;

}

.btn-all{
    width: 69px;
    height: 48px;
    background: var(--primary-brand);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
                0px 2px 1px rgba(0, 0, 0, 0.08), 
                0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    border-color: var(--primary-brand);
    cursor: pointer;
}

.btn-web{
    width: 116px;
    height: 48px;
    background: var(--light);
    border: 1px solid var(--accent);
    border-radius: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--primary-brand);
    cursor: pointer;
}

.btn-app{
    width: 78px;
    height: 48px;
    background: var(--light);
    border: 1px solid var(--accent);
    border-radius: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--primary-brand);
    cursor: pointer;
}

.btn-design{
    width: 101px;
    height: 48px;
    background: var(--light);
    border: 1px solid var(--accent);
    border-radius: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--primary-brand);
    cursor: pointer;
}

.btn-marketing{
    width: 126px;
    height: 48px;
    background: var(--light);
    border: 1px solid var(--accent);
    border-radius: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--primary-brand);
    cursor: pointer;
}



.btn-all:hover,
.btn-all:focus,
.btn-web:hover,
.btn-web:focus,
.btn-app:hover,
.btn-app:focus,
.btn-design:hover,
.btn-design:focus,
.btn-marketing:hover,
.btn-marketing:focus{
    background: var(--primary-brand);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 4px;
    color: #FFFFFF;
}

.btn-all:active,
.btn-web:active,
.btn-app:active,
.btn-design:active,
.btn-marketing:active{
    background: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #FFFFFF;   
}

/* portfolio list images */

.list{
    list-style-type: none;
}

.list-portfolio{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark)
}

.portfolio-jobs{
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
}